<?xml version="1.0" encoding="utf-8"?>
<SiteSettings>
  <AdminPassword>admin</AdminPassword>
  <GuestEditModeEnabled>true</GuestEditModeEnabled>
  <DisableScripts>true</DisableScripts>
  <MailFrom>noreply@basketball.ru.com</MailFrom>
  <SmtpHost>localhost</SmtpHost>
  <SmtpPort>0</SmtpPort>
  <SmtpUserName></SmtpUserName>
  <SmtpPassword></SmtpPassword>
</SiteSettings>
