<?xml version="1.0" encoding="utf-8"?>
<SiteSettings>
  <AdminPassword>admin</AdminPassword>
  <GuestEditModeEnabled>true</GuestEditModeEnabled>
  <DisableScripts>true</DisableScripts>
  <MailFrom>noreply@basketball.ru.com</MailFrom>
  <SmtpHost>wpl42.hosting.reg.ru</SmtpHost>
  <SmtpPort>587</SmtpPort>
  <SmtpUserName>noreply@basketball.ru.com</SmtpUserName>
  <SmtpPassword>I7x75oxx</SmtpPassword>
</SiteSettings>
